/* MAIN */
body, html {
  background-color: rgb(15, 76, 80);
  font-family: Raleway, sans-serif;
  margin: 0;
}

.app {
  height: 100%;
}

h1 {
  font-size: 71px;
  font-weight: 900;
  letter-spacing: 2.09px;
  color: rgb(232, 152, 72);
  font-family: Raleway, sans-serif;
  line-height: normal;
  margin: 0;
  text-align: center;
}

#root {
  height: 100vh;
}

/* WELCOME */
.welcome, .transcription {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 42px auto 0px;
  padding: 21px 17px 17px;
  border-radius: 12px;
}
.input-container {
  position: relative;
}
label {
  position: absolute;
  top: -0.5em;
  left: 9px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: rgb(34, 73, 77);
  padding: 0px 3px;
  background: rgb(255, 255, 255);
}

input {
  font-family: Raleway;
  display: block;
  width: 100%;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid rgb(34, 73, 77);
  outline: none;
}
.welcome-btn {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 21px;
  text-align: center;
  width: 100%;
  background: rgb(61, 121, 125);
  border: 0;
  border-radius: 8px;
  padding: 17px 24px;
}

/* TRANSCRIPTION  */
.transcription-container {
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 42px auto 0px;
  padding: 21px 17px 17px;
  border-radius: 12px;
}

/* CALL */

.OTPublisherContainer {
  width: 250px !important;
  height: 250px !important;
  position: relative;
  z-index: 2;
  top: 10px;
  left: 10px;
  border: 1px solid red !important;
}

.OT_subscriber{
  position: absolute !important;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
}

.call-btn {
  left: 5%;
  z-index: 999;
  display: inline-block;
  position: relative;
  margin-top: 10px;
}
